// Place all the styles related to the secretion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 36px;
}

.header {
  text-align: center;
  margin: 0;
  margin-right: 20px;
  border: 0;
}

a:-webkit-any-link {
  color: #fff !important;
  text-decoration: none !important;
}

#navbar {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}

a { 
  padding: 10px;
  border: 1px solid black;
}

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

li {
  display: inline;
  margin: 0 40px;
}

 #navbar .nav.navbar-nav > .active > a:hover, 
 #navbar .nav.navbar-nav > .active > a:focus,
 .mailto:hover {
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0 0 20px #fff;
  text-decoration: none;
 }

.logo {
  margin-top: 20px;
  max-width: 100%;
  text-align: center;
}

.content-container { margin: 30px 0 75px 0; }

.modal-content { border: 1px solid #fff; }

.modal-body {
  background: black;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  text-align: center;
}

.modal-footer {
  background: black;
  border: none;
}

.modal-close { font-family: 'Press Start 2P', cursive; }

.slide-content { padding: 20px; }

#links {
  img { margin: 10px; }
  text-align: center;
}

.close:hover { color: #fff; }

.zine-image {
  border: 3px solid #fff;
  margin-bottom: 50px;
}

.issue-one, .issue-two, .issue-three, {
  max-width: 300px;
}

.issue-four { max-width: 400px; }

.zine-container { text-align: center; }

.zine-title { font-size: 13px; }

.zine-order-info { line-height: 36px; }
